* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: "Bodoni Moda", serif;
    font-weight: 400;
    /* background-color: #745e4d; */
    background-color: #f4f0db;
}

p {
    margin-bottom: 10px;
    margin-top: 10px;
}

h2 {
    text-transform: uppercase;
}

h3 {
    font-weight: 400;
    text-align: center;
}


header {
    text-align: center;
    /* background-color: #745e4d; */
    background-color: #f4f0db;
}

header img {
    max-width: 200px;
    height: auto;
}



.hero {
    background: url('hero-bg.jpg') no-repeat center center/cover;
    color: #f4f0db;
    text-align: center;
    padding: 100px 20px;
}

.info {
    text-align: left;
    color: #745e4d;
    font-size: 16px;
    padding: 20px 100px;
}

#home h2 {
    border-top: 4px dashed #f4f0db;
    border-bottom: 4px dashed #f4f0db;
    width: 11.5%;
    margin: 0 auto;
    padding: 10px 0;
}

#roastery h3 {
    text-transform: uppercase;
    font-weight: bold;
}



.roastery {
    padding: 20px;
    text-align: center;
}

.white {
    color: #745e4d;
}


.step {
    background: #f4f0db;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 20px;
}

.steps {
    display: flex;
    justify-content: space-around;
    padding: 60px;
}

#delivery {
    padding: 60px 100px;
    color: #745e4d;
}

#delivery h2 {
    color: #745e4d;
    text-align: center;
}



.footer {
    background-color: #f4f0db;
    color: #745e4d;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    color: #745e4d;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
}

.social-icons a:hover {
    color: #999;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

/* Responsive Styles */
@media (max-width: 768px) {

    .steps {
        flex-wrap: wrap;
        text-align: left;
        padding: 20px 0;
    }

    .step {
        margin: 10px 0;
    }

    .roastery {
        padding: 60px 20px;
        font-size: 16px;
        text-align: left
    }

    #roastery h3 {
        text-align: left;
        margin-bottom: 10px;
    }

    #home h2 {
        width: 50%;
    }  

    #delivery {
        padding: 20px;
    }

    #delivery h2 {
        text-align: left;
    }

    .white {
        text-align: left;
    }

    .info {
        padding: 20px;
    }

}