body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-transform: uppercase;
}

h3 {
    font-weight: 400;
    text-align: center;
}


header {
    text-align: center;
    background-color: #745e4d;
}

header img {
    max-width: 200px;
    height: auto;
}



.hero {
    background: url('hero-bg.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

#home h2 {
    border-top: 4px dashed white;
    border-bottom: 4px dashed white;
    width: 11.5%;
    margin: 0 auto;
    padding: 10px 0;
}



.roastery, .about {
    padding: 60px 100px;
    text-align: center;
}



.step {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-bottom: 20px;
    max-width: 300px;
}

.steps {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

footer .contact-info, footer .social-media, footer .newsletter {
    margin-bottom: 20px;
}

footer .social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer p {
    margin-top: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {

    .steps {
        flex-wrap: wrap;
    }

    .roastery, .about {
        padding: 60px 20px;
        font-size: 13px;
    }

    #home h2 {
        width: 50%;
    }    
}